* {box-sizing: border-box;}

body{
    width: 99%;
    height: 115vh;
    max-height: 2380px;
    position: relative;
}

header{
    padding-left: 2%;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > a:last-of-type{
    font-size: 19px;
    margin-right: 3%;
    color: black;
    text-decoration: black;
    text-decoration-line: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px gray;
}

main > form{
    width: 932px;
    height: 880px;
    border-radius: 5px;
    margin-bottom: 256px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

main > form > section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
}

main > form > section:nth-of-type(1){ margin-top: 20px;}
main > form > section:nth-of-type(1) > p{ /* 단계 */
    padding: 0;
    margin: 0;
    font-size: 13px;
    text-align: center;
    color: black;
    font-weight: bold;
}

main > form > section:nth-of-type(2) > p{ /*원하는 멤버십 선택 text */
    padding: 0;
    margin: 0px 0px 20px;
    font-size: 32px;
    color: black;
    text-align: center;
}

.check{
    display: flex;
    padding: 0;
    margin: 0px;
}
.step1_img{
    margin-right: 10px;
}
.step1_text{
    margin: 0;
    font-size: 18px;
    word-break: keep-all;
}

.choice-box{
    height: 144px;
    display: flex;
    justify-content: end;
}

.choice-label{
    margin: 0px 33px;
    width: 112px;
    height: 112px;
    border: none;
    background-image: url(netflix_images/choice1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* 수평 분할 + 크기조절 */
    display: inline-block;
    /* 마우스 올렸을 때 손가락 모양 */
    cursor: pointer; 
}
input[name="choice"]{
    display: none;
}

input[name="choice"]:checked + label{
    height: 125px;
    background-image: url(netflix_images/choice1_after.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.choice-mem > table > tr:last-of-type, td:last-of-type{
    color: red;
}


.choice-mem > table{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #6E6E6E;
    border-collapse: collapse;
}
.choice-mem > table > tr, td{
    border-bottom: 1px solid rgb(211, 211, 211);
}

.basis40{
    padding: 12px 16px;
}
.basis20{
    padding-left: 40px;
    padding-right: 30px;
    text-align: center;
}

#mem-btn{
    width: 165px;
    height: 32px;
    background-color: #E5E5E5;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}
#mem-btn:hover{
    background-color: #B2B2B2;
    transition: 0.3s;
    cursor: pointer;
}

main > form > section:nth-of-type(8){ /* 모든 멤버십 확인하기 버튼 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 20px;
}

main > form > section:nth-of-type(9){ /* 광고형 멤버십 설명 */
    width: 95%;
    margin-left: 2.5%;
    background-color: #F3F3F3;
    font-size: 13px;
    color: #6E6E6E;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}
#mem_lock{ margin: 0px 10px;}
#mem_lock + p > a{
    color: #1E90FF;
    text-decoration-line: none;
}

main > form > section:nth-of-type(10){
    display: flex;
    flex-direction: column;
}
main > form > section:nth-of-type(10) > p{
    font-size: 13px;
    word-break: keep-all;
}
main > form > section:nth-of-type(10) > p > a{
    color: #1E90FF;
    text-decoration-line: none;
}

main > form > section:nth-last-of-type(1){
    display: flex;
    justify-content: center;
    align-items: center;
}

#step2-btn{ /* 다음 버튼 */
    width: 50%;
    height: 100%;
    padding: 20.5px 48px;
    border-radius: 5px;
    background-color: red;
    border: none;
    
}
#step2-btn > a{
    padding: 7% 43%;
    color: white;
    font-size: 24px;
    text-align: center;
    text-decoration: white;
    text-decoration-line: none;
}


/* footer 영역 */
footer{
    margin: -10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 343px;
    width: 101%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
    opacity: 80%;
}

footer > section{
    width: 62.5%;
    font-size: 16px;
    color:gray;
}
footer > section:nth-of-type(1){
    height: 45px;
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.tel{ 
    color: gray;
    text-decoration-line: none;
}
.tel:hover{ 
    text-decoration-line:underline;
}

footer > section:nth-of-type(2){
    height: 80px;
    width: 40%;
}
footer > section:nth-of-type(3){
    height: 56px;
    width: 40%;
    display: flex;
    align-items: center;
}
footer > section:nth-of-type(4){
    height: 110px;
    width: 40%;
}


nav{
    width: 100%;
    height: 100%;
    display: flex;
}
nav > ul{
    height: 60px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    list-style: none;
    line-height: 1.3125rem;
    --grid-layout-gap: 0.75rem;
    --grid-item--min-width: 18.375rem;
}
nav > ul > li{
    width: 25%;
}

nav > ul > li > a{
    color: #B3B3B3;
    font-size:  0.875rem;
    font-weight: 400;
}

.lang{
    position: relative;
    display: inline-block;
}
.lang-btn{
    border : 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 0px 2px;
    margin: 0;
    background-color: white;
}
.lang-btn-img{
    padding: 0;
    margin: 0;
}
.lang_list{
    display: none;
    position: absolute;
    min-width: 130px;
    background-color: white;
    border-radius: 10px;
    margin-left: 2px;
}
.lang_list > a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 3px 20px;
    border-radius: 5px;
}
.lang_list > a:hover{
    background-color: #1E90FF;
    color: white;
}
.lang:hover > .lang_list{ 
    display: block;
}
.lang:hover > .lang-btn{
    border : 3px double rgba(255, 255, 255, 0.8);
    outline: 2px solid rgba(255, 255, 255, 0.8);
}

footer > section:nth-of-type(4) > p{
    font-size: 12px;
}
#ftc{
    font-size: 12px;
    color:#B3B3B3;
}