.flex-container{
    height: 98vh;
    width: 98vw;
    border: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.con1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con2{
    margin-top: -20px;
    width: 100%;
    height: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.top-btn{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 3px;
    border-color: azure;
    color: gray;
}

.btn-margin{
    margin-left: 30px;
}

.key-word{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
}
.key-word-margin{
    margin-left: 160px;
}

.list{
    margin: 15px 10px 15px 10px;
    font-size: 12px;
}

.search-div{
    height: 45px;
    width: 530px;
    border: 3px solid black;
    border-radius: 12px;
    display: flex;
    margin-right: 50px;
}

.search-bar{
    margin-top: 5px;
    margin-left: 5px;
    height: 30px;
    width: 500px;
    font-size: 15px;
    border:none;
    outline: none;
}

.search-icon{
    padding-top: 5px;
    padding-right: 1px;
}

.con{
    display: flex;
    width: 100%;
}

.nav{
    float: left;
    width: 50%;
    height: 30px;
    margin-top: 15px;
}

.nav-hr{
    border-top: 2px solid rgb(224, 224, 224);
    border-bottom: 2px solid rgb(202, 202, 202);
}

.thema{
    float: left;
    margin-right: 15px;
}

.nav-btn{
    float: right;
    width: 50%;
    margin-top: 10px;
}

.thema-btn{
    width: 25px;
    height: 25px;
    float: right;
    background-color: white;
    border-radius: 3px;
    border-color: azure;
    color: gray;
}

.content-img{
    height: 95px;
    width: 155px;
}
.content-text{
    font-size: 12px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

td{
    padding: 10px;
}